<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Chat UI</title>
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="center-text">
    <h2>Bem-vindo! Eu sou o Galileu</h2>
    <p>sempre pronto para responder às suas perguntas.</p>
  </div>
  <div id="body">

    <div id="chat-circle" class="btn btn-raised">
      <div id="chat-overlay"></div>
      <i class="material-icons">speaker_phone</i>
    </div>

    <div class="chat-box">
      <div class="chat-box-header">
        Galileu
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>
        <div class="chat-logs">

        </div><!--chat-log -->
      </div>
      <div class="chat-input">
        <form>
          <input type="text" id="chat-input" placeholder="Send a message..." />
          <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>
      </div>
    </div>




  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>